body{
    margin: 0;
    padding: 0;
    background-color: darkgrey;
}

fieldset{
    border-radius: 20px;
    border: #000000 solid;
    width: 400px;

}
label{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    
}
input{
    border-radius: 20px;
    width: 300px;
    padding: 10px;
}
button{
    color: #FFF;
    background-color: darkgreen;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    margin: 15px;
}
